section.section.cart_block.woocommerce
	.section_in.cart_block__in
		.cart_block__empty_w.js-fade-item
			.cart_block__empty
				h2.cart_block__empty_title Your cart is currently empty.
				a.cart_block__empty_link(href="#") Continue Shopping




