.hero_cart {
	@include bp($point_2, min) {
		min-height: 20rem;
		padding-top: 10rem;
		padding-bottom: 1.4rem;
	}
	@include bp($point_3) {
		padding-top: 4.5rem;
		padding-bottom: 1.8rem;
	}
}

.hero_cart__title {
	@include h1;
	color: $dark;
}

.hero_cart__btn_back_w {
	position: absolute;
	z-index: 1;

	@include bp($point_2, min) {
		top: -0.4rem;
		left: 0;
	}
	// @include bp(1699px, 1512px) {
	// 	top: 10.4rem;
	// 	left: var(--gl-hr-indent);
	// }
	// @include bp(1511px) {
	// 	top: 10.4rem;
	// 	left: 0rem;
	// }
}
