@import 'ScssHelpers/helpers-all.scss';

.partners_section {
	@include bp($point_3) {
		padding-left: calc(var(--gl-hr-indent) + 1.2rem);
	}
}

.partners_section__in {
	max-width: $page_width_2;
}

.partners_section__slider {
	width: 100%;

	.partners_section & {
		overflow: visible;
	}

	.swiper-wrapper {
		transition-timing-function: linear;
	}
}

.partners_section__slide {
	display: flex;
	align-items: center;

	.partners_section & {
		width: auto;
		height: auto;
	}
}

.partners_section__link {
	position: relative;

	display: flex;
	align-items: center;

	transition: transform 0.3s ease;
	will-change: transform;

	@include bp($point_2, min) {
		height: 3.8rem;
	}

	@include bp($point_3) {
		height: 2.7rem;
	}

	&:hover,
	&:focus {
		transform: scale(1.05);
	}
}

.partners_section__img-w {
	display: block;
	height: 100%;
}

.partners_section__img {
	display: block;
	width: 100%;
	max-height: 100%;

	object-fit: contain;
}
