mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- environment = process.env.NODE_ENV || 'development'
- array = '';
- assetsImage = '/src/images/';

//--------------------------------------------------------------forms


































//--------------------------------------------------------------private_vars
- _sitemap = ['about','bio','blog','building-tabs','buy-plans','cart-empty','cart','contact-us','cookies','disaster-relief','faq','get-financed','how-it-works','index','newsroom','privacy-policy','project','single-article','sustainability','terms-of-use','ui'];