- sample_var = '123'
-
	sample_array = [
		{
			sample: '123'
		}
	]

-
	buildingsData = [
		{
			title: 'Residential',
			list: [
				{
					img: 'dream_home/1.jpg',
					title: 'Kenmare',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/2.jpg',
					title: 'Martello',
					adress: '4070.58 sq.ft | 3 Living | 4 Bedroom | 3 Bath|  2 Car Garage',
				},
				{
					img: 'dream_home/3.jpg',
					title: 'Florida',
					adress: '291.702 | Kitchen / living | 3 bed | 1 Bath',
				},
				{
					img: 'dream_home/4.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/5.jpg',
					title: 'Kenmare',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/6.jpg',
					title: 'Martello',
					adress: '4070.58 sq.ft | 3 Living | 4 Bedroom | 3 Bath|  2 Car Garage',
				},
				{
					img: 'dream_home/7.jpg',
					title: 'Florida',
					adress: '291.702 | Kitchen / living | 3 bed | 1 Bath',
				},
				{
					img: 'dream_home/8.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/9.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/10.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/11.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/12.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
				{
					img: 'dream_home/13.jpg',
					title: 'Torc',
					adress: '180.83 sq.ft | 1 bed |1 bath',
				},
			]
		},
		{
			title: 'Hospitality',
			list: [
				{
					img: 'dream_home/1.jpg',
					title: 'Cleo',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Sofia',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Clifton',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Rathdown',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Dalkey',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Spencer',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Torc',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
				{
					img: 'dream_home/1.jpg',
					title: 'Muckross',
					adress: '1024.724 sq.ft | 1 Living | 1 Kitchen |2 Bed | 2 Bath',
				},
			],
		},
		{
			title: 'Commercial',
			list: [
				{
					img: 'dream_home/17.jpg',
					title: 'Muckross | Cafe',
					adress: '18 sq.ft',
				},
			],
		},
		{
			title: 'Disaster Relief',
			list: [
				{
					img: 'dream_home/7.jpg',
					title: 'Garvan',
					adress: '291.702 | Kitchen / living | 3 bed | 1 Bath',
				},
				{
					img: 'dream_home/8.jpg',
					title: 'Glenflesk',
					adress: '291.702 | Kitchen / living | 3 bed | 1 Bath',
				},
				{
					img: 'dream_home/12.jpg',
					title: 'Heuston',
					adress: '291.702 | Kitchen / living | 3 bed | 1 Bath',
				},
			],
		},
	]
	plansData = [
		{
			list: [
				{
					img: 'dream_home/1.jpg',
					title: 'Kenmare',
					price: '$299',
				},
				{
					img: 'dream_home/2.jpg',
					title: 'Martello',
					price: '$299',
				},
				{
					img: 'dream_home/3.jpg',
					title: 'Florida',
					price: '$299',
				},
				{
					img: 'dream_home/4.jpg',
					title: 'Torc',
					price: '$299',
				},
				{
					img: 'dream_home/5.jpg',
					title: 'Muckross',
					price: '$299',
				},
				{
					img: 'dream_home/6.jpg',
					title: 'Hampton',
					price: '$299',
				},
				{
					img: 'dream_home/7.jpg',
					title: 'Garvan',
					price: '$299',
				},
				{
					img: 'dream_home/8.jpg',
					title: 'Glenflesk',
					price: '$299',
				},
				{
					img: 'dream_home/9.jpg',
					title: 'Dalkey',
					price: '$299',
				},
				{
					img: 'dream_home/10.jpg',
					title: 'Sofia',
					price: '$299',
				},
				{
					img: 'dream_home/11.jpg',
					title: 'Clifton',
					price: '$299',
				},
				{
					img: 'dream_home/12.jpg',
					title: 'Heuston',
					price: '$299',
				},
				{
					img: 'dream_home/13.jpg',
					title: 'Windsor',
					price: '$299',
				},
				{
					img: 'dream_home/14.jpg',
					title: 'Cleo',
					price: '$299',
				},
				{
					img: 'dream_home/15.jpg',
					title: 'Rathdown',
					price: '$299',
				},
				{
					img: 'dream_home/16.jpg',
					title: 'Spencer',
					price: '$299',
				},
				{
					img: 'dream_home/17.jpg',
					title: 'Muckross | Cafe',
					price: '$299',
				},
			]
		},
	]






























mixin dont_use
	// mixin is needed for correct include in files