@import 'family';
@import 'reset';
@import 'fonts';
@import 'print';

//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-footer: 10rem;

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: $gray_2;
	}

	::-webkit-scrollbar-thumb {
		background-color: $dark_2;
	}

	@include bp($point_2, min) {
		--height-header: 10.8rem;
		--gl-vr-indent: 5.4rem;
		--gl-hr-indent: 9.6rem;
	}

	@include bp($point_1 - 1) {
		--gl-hr-indent: 2.4rem;
	}

	@include bp($point_3) {
		--height-header: 7.6rem;
		--gl-vr-indent: 2rem;
	}
}

@mixin disable_mobile_bars {
	.touch_device_state &,
	&.touch_device_state {
		position: fixed !important;
		left: 0;
		top: 0;
		height: var(--full-screen) !important;
		width: 100%;
		overflow: hidden !important;
	}
}

html:not(.wp-toolbar) {
	height: 100%;
	min-height: var(--full-screen);
	font: 400 calc(100vw / 1920 * 10) / 1.6 $font_1;

	// font-size: 10px !important;

	@include bp($point_1, min) {
		font-size: calc(100vw / 1920 * 10);
	}

	@include bp($point_1 - 1, $point_2) {
		font-size: 8px;
	}

	@include bp($point_3, $point_9) {
		font-size: 10px;
	}

	@include bp($point_9 - 1) {
		font-size: calc(100vw / 390 * 10);
	}

	@include disable_mobile_bars;
}

body:not(.wp-admin) {
	position: relative;

	display: flex;
	height: 100%;
	overflow: hidden;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	&.body--open_menu_state,
	&.body--popup_active_mod,
	&.video-active {
		overflow: hidden !important;
	}

	&.body--loaded_state {
		overflow: auto;
	}

	@include disable_mobile_bars;
}

.scroll_wrapper {
	height: 100%;

	.touch_device_state & {
		height: var(--full-screen);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		::-webkit-scrollbar {
			width: 4px;
		}

		::-webkit-scrollbar-track {
			background: $gray_2;
		}

		::-webkit-scrollbar-thumb {
			background-color: $dark_2;
		}
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
	// will-change: transform;

	body.body--popup_active_mod & {
		overflow: hidden !important;
	}
}

.base {
	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;
	// padding: 0;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// for wp

.editor-styles-wrapper .wp-block {
	margin-bottom: 5rem;
}

html :where(.wp-block) {
	max-width: 1200px;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

//------------------------------------------------------------base styles###
