extends ../layout/layout

block vars
	//- include ../templates/project-vars
	include ../templates/mixins/m-button-back
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Cookies', template_name: 'policies-and-conditions'}

block content_block
	-
		browsers_list = [
			{
				icon: '/src/images/icons/google_chrome.svg',
				title: 'Google Chrome',
			},
			{
				icon: '/src/images/icons/explorer.svg',
				title: 'Internet Explorer',
			},
			{
				icon: '/src/images/icons/edge.svg',
				title: 'Microsoft Edge',
				text: '1.1.1 (Please note that there are no specific instructions at this time, but Microsoft support will be able to assist)',
			},
			{
				icon: '/src/images/icons/safari.svg',
				title: 'Safari (MacOS):',
			},
			{
				icon: '/src/images/icons/safari_ios.svg',
				title: 'Safari (iOS):',
			},
			{
				icon: '/src/images/icons/android.svg',
				title: 'Android',
				text: '1.1.1 (Please refer to your device’s documentation for manufacturers’ own browsers)',
			},
		]
	section.section.article.article--cookies_mod
		.section_in.article__in
			+button_back()
			.article__container
				.article__heading
					h1 Cookies
					p This website hapihomes.com (“Our Site”) uses Cookies and similar technologies in order to distinguish you from other users. By using Cookies, We are able to provide you with a better experience and to improve Our Site by better understanding how you use it. Please read this Cookie Policy carefully and ensure that you understand it. Your acceptance of Our Cookie Policy is deemed to occur if you continue using Our Site. If you do not agree to Our Cookie Policy, please stop using Our Site immediately.
				.article__content.js-article-content
					h3 How Does Our Site Use Cookies?
					p Our Site may place and access certain first-party Cookies on your computer or device. First-party Cookies are those placed directly by Us and are used only by Us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve our products. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal data is always protected and respected.
					p By using Our Site, you may also receive certain third-party Cookies on your computer or device. Third-party Cookies are those placed by websites, services, and/or parties other than Us.
					p All Cookies used by and on Our Site are used in accordance with current Cookie Law. #[br] We may use some or all of the following types of Cookie:
					ul
						li
							p #[strong Strictly Necessary Cookies]
							p A Cookie falls into this category if it is essential to the operation of Our Site, supporting functions such as logging in, your shopping basket, and payment transactions.
						li
							p #[strong Analytics Cookies]
							p It is important for Us to understand how you use Our Site, for example, how efficiently you are able to navigate around it, and what features you use. Analytics Cookies enable us to gather this information, helping Us to improve Our Site and your experience of it.
						li
							p #[strong Functionality Cookies]
							p Functionality Cookies enable Us to provide additional functions to you on Our Site such as personalisation and remembering your saved preferences. Some functionality Cookies may also be strictly necessary Cookies, but not all necessarily fall into that category.
						li
							p #[strong Targeting Cookies]
							p It is important for Us to know when and how often you visit Our Site, and which parts of it you have used (including which pages you have visited and which links you have visited). As with analytics Cookies, this information helps us to better understand you and, in turn, to make Our Site and advertising more relevant to your interests.
						li
							p #[strong Persistent Cookies]
							p Any of the above types of Cookie may be a persistent Cookie. Persistent Cookies are those which remain on your computer or device for a predetermined period and are activated each time you visit Our Site.
						li
							p #[strong Session Cookies]
							p Any of the above types of Cookie may be a session Cookie. Session Cookies are temporary and only remain on your computer or device from the point at which you visit Our Site until you close your browser. Session Cookies are deleted when you close your browser.
					p Please refer to the table below for more specific details of the Cookies that We use.
					h3 Consent and Control
					p Before Cookies are placed on your computer or device, you will be shown a pop up requesting your consent to set those Cookies. By giving your consent to the placing of Cookies you are enabling Us to provide the best possible experience and service to you. If you wish, you may deny consent to placing Cookies unless those Cookies are strictly necessary; however, certain features of Our Site may not function fully or as intended. You will be given the opportunity to allow and/or deny different categories of Cookie that We use.
					p In addition to the controls that We provide, you can choose to enable or disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all Cookies or only third-party Cookies. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device.
					p The links below provide instructions on how to control Cookies in all mainstream browsers:

					ul.article__browsers_list
						each item in browsers_list
							li.article__browsers_item
								.article__browsers_header
									.article__browsers_icon
										img.article__browsers__img(src=item.icon alt=`${item.title} icon`)
									a.article__browsers__title(href='#')!= item.title
								if item.text
									p!= item.text

					h3 Changes to this Cookie Policy
					p We may alter this Cookie Policy at any time. Any such changes will become binding on you on your first use of Our Site after the changes have been made. You are therefore advised to check this page from time to time.
					p In the event of any conflict between the current version of this Cookie Policy and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.
					h3 Further Information
					p If you would like to know more about how We use Cookies, please contact Us at #[a(href='mailto:hello@hapihomes.com') hello@hapihomes.com].
					p For more information about privacy, data protection and our terms and conditions, please visit the following:
					.article__links
						a.article__link(href='#') #[strong link 1]
							.article__link__icon
								+icon('link_icon', 'icon--size_mod')
						a.article__link(href='#') #[strong link 2]
							.article__link__icon
								+icon('link_icon', 'icon--size_mod')