extends ../layout/layout


mixin test
	style.
		.article_content {
			font-size: 1.6rem;
		}
		h1 {
			font-size: 2.8rem;
			margin-bottom: 3rem;
		}
		h2 {
			font-size: 2.4rem;
			margin-bottom: 1.6rem;
		}
		h3 {
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 1rem;
		}
		ul,ol {
			margin-bottom: 1.6rem;
		}
	section.section.article_content
		.section_in
			h1 Markup requirements and examples for WP article single page (blog single post, etc.)
			h2 Example on WP site #[a(href="https://woo.glivera.com/test-page/") here]
			h2 Section should be named .article_content #[br] All styles will be nested from parent selector,
				|for ex. article_content p {some style}
			h2
			h2 Simple paragraph
			p #[b Lorem ipsum] is simply dummy text of the #[i printing] and typesetting industry.
				| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley
				| of type and scrambled it to make a type specimen book. It has survived not only five centuries
			p #[b Lorem ipsum] is simply dummy text of the #[i printing] and typesetting industry.
				| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley
				| of type and scrambled it to make a type specimen book. It has survived not only five centuries

			h2 UL list
			ul
				li list item
				li list item
				li list item

			h2 OL list
			ol
				li list item
				li list item
				li list item

				p
					| Quote description, can be
					strong bold
					em italic
					| Quote Author, can be
					strong bold
					em123 asd asdlorem123 lorem123s

block vars
	//- include ../templates/project-vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block