extends ../layout/layout

block vars
	//- include ../templates/project-vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}

block content_block
	.anim_canvas
		#canvas_container

	section.section.test.js-canvas-video-section
		.section_in
			h1 Lorem ipsum dolor sit amet.
			.expand_video.js-canvas-video-position-helper
				.expand_video__container.js-canvas-video-pin
					video.expand_video__media.js-canvas-video.js-play-cursor-trigger(src="/src/images/test_video.mp4" data-text-tx='/src/images/tx.svg' muted playsinline autoplay loop)
					//- .expand_video__content.js-canvas-video-play-trigger
						//- .expand_video__title PLAY
						//- button.expand_video__play_btn(type="button" aria-label="play")
						//- 	svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36")
						//- 		path(fill="currentColor" d="M7 7.29c0-1.5 1.59-2.466 2.92-1.776l20.656 10.71c1.439.747 1.439 2.805 0 3.552L9.92 30.486C8.589 31.176 7 30.21 7 28.71V7.29Z")
							//- +icon('play')
						//- .expand_video__title REEL
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.

	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
			//- canvas will be render here

	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
		.section_in
			h1 Lorem ipsum dolor sit amet.
	section.section.test
