extends ../layout/layout

block vars
	//- include ../templates/project-vars
	include ../templates/mixins/m-button-back
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Privacy Policy', template_name: 'policies-and-conditions'}

block content_block
	section.section.article
		.section_in.article__in
			+button_back()
			.article__container
				.article__heading
					h1 Privacy policy
					p Last Updated: February 16, 2023
				.article__content.js-article-content
					h3 Introduction
					p This Privacy Policy discloses the policies of Hapi Homes at www.hapihomes.com and its operator Hapi Homes, a Delaware.LLC located at (collectively “we” or “us”) regarding the collection, use, and disclosure of information that you (a “User”) submit to us or that is collected through your use of Hapi Homes.
					h3 Location
					p Hapi Homes is located in the United States and are subject to United States laws. If you are outside of the United States, your use of the website constitutes consent to the transmission of personal information to the United States. If your use of Hapi Homes is against the laws of your jurisdiction, it is your responsibility to refrain from the use of Hapi Homes.
					h3 Types of Personal Information Collected
					p “Personal information” is data that identifies, relates to, describes, can be used to contact, or could reasonably be linked directly or indirectly to a User. For purposes of this Policy, there is no meaningful distinction between the terms “personal information” and “personal data.”
					ul
						li
							p #[strong Personal Information Collected - General]
							p We collect the following items of personal information from Users:
							ul
								li #[p Name]
								li #[p Email]
								li #[p Telephone]
						li
							p #[strong Sensitive Personal Information]
							p We do not proactively collect sensitive personal information as defined under Article 9 of the GDPR.
					h3 Collection of Personal Information
					ul
						li
							p #[strong Submission from User]
							p Certain items of personal information we rely on you to submit to us. When a user sends an enquiry
					h3 Processing Bases
					p Pursuant to Art. 6 of the GDPR, we rely on the following legal bases to process your personal information:
					h3 Use of Personal Information
					p In general, we use your personal information to:
					ul
						li #[p Send you marketing communications about services and products offered by Hapi Homes, Hapi Homes and affiliate companies of Hapi Homes, as permitted by law;]
						li #[p Improve the customer service we provide, your personal information may be used for review and quality control purposes;]
						li #[p Create de-identified personal information to be used by us; and]
						li #[p Use for any other reason you consent to.]
					h3 Electronic Communications
					p Consistent with this Privacy Policy and as is permitted by applicable law, we may communicate with you via electronic messages, including email..
					h3 Disclosure of Personal Information to Third-Parties
					p We disclose the personal information we collect (or otherwise generate or obtain) for the following purposes:
					ul
						li
							p #[strong In the event of a corporate transaction.]
							p We may disclose or transfer your information to a third party if we sell, transfer, divest, or disclose all or a portion of our business or assets to another company in connection with or during negotiation of any merger, financing, acquisition, bankruptcy, dissolution, transaction, or proceeding.
						li
							p #[strong Use to protect against, investigate and deter fraudulent activity.]
							p When necessary, your personal information may be disclosed to third parties for the purpose of protecting against, investigating and deterring fraudulent, as well as unauthorized or illegal, activity
						li
							p #[strong Defend our legal rights.]
							p To protect and defend the legal rights of Hapi Homes, and Hapi Homes’s employees, we may disclose your personal information. We may also require your personal information to defend against legal claims, or to establish our legal rights.
						li
							p #[strong To comply with and as required by law.]
							p We may disclose your personal information to government authorities or other relevant third parties in order to comply with applicable legal requirements, judicial proceedings, court orders, subpoenas, legal process, or lawful requests from governmental authorities.
						li
							p #[strong At your request.]
							p We also share your information as directed or requested by you, or subject to your consent. In some circumstances, you may have the right to opt-out or object to our sharing of your information with certain third parties.
					h3 The Ability of Others to View Your Information
					p When you use the Website, certain information you post or provide on the publicly available portions of the Website may become publicly available and may be collected and used by others, including people outside of the control of the Website. We have no obligations with respect to any information that you post to publicly available parts of the Website.
					h3 Storage of Credit Card Information
					p We do not store your credit card or debit card information ourselves. We do not access such information for other purposes without your permission. While credit or debit card information is safeguarded through our third-party service provider, no method of electronic storage is 100% and we cannot guarantee its absolute security. When your credit or debit card account information is being transmitted through our Website, it will be protected by security protocols..
					h3 Your Choices and Rights
					ul
						li
							p #[strong General]
							p You may choose not to provide some of the personal information described above. Please note, however, that many of our services require some personal information to operate, so if you choose not to provide the personal information necessary to operate and provide you with a particular service or feature of that service, you may not be able to use that service or feature.
						li
							p #[strong Rights Under the GDPR]
							ul
								li
									p Generally. Users that reside in the European Union, Iceland, Lichtenstein, Norway, Switzerland, or the United Kingdom have the following rights:
									ol
										li The Right to Access
										li The Right to Rectification
										li The Right to Erasure
										li The Right to Restrict Processing
										li The Right to Object to Processing
										li The Right to Data Portability
								li
									p Exercising GDPR Rights. If you reside in one of the countries above and wish to exercise your rights, you may contact us.on:
									ol
										li Sending a request to #[a(href='#') hello@hapihomes.com]
								li
									p Time to Respond.Hapi Homes have 30 days to respond to your request
								li
									p Supervisory Authority. Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory manner, you may contact your local data protection supervisory authority.
						li
							p &nbsp;
							ul
								li #[p by one of the methods listed below.]
						li
							p #[strong Consent]
							p For any personal information that is collected, used or processed pursuant to your consent, you may withdraw your consent at any time by contacting us by one of the methods listed below. Withdrawal of your consent will not affect the use or collection of your personal information prior to your withdrawal. You may withdraw your consent by contacting us by one of the methods listed below.
						li
							p #[strong Ability to Unsubscribe From Marketing Emails]
							p You may “opt-out” of electronic communications from us by Opt out or any method described in the electronic communication. You may also contact us through the methods described below to unsubscribe from email communications..This applies to promotional communications and not administrative communications we feel are necessary to provide the services on the Website..
						li
							p #[strong Sharing with Third Parties]
							p We do not automatically share your personal information with third party service providers without your consent, except for any such disclosures that are necessary to fulfill the services you contracted for with us to provide through the Website. All other disclosures to third party business service providers are only made through your affirmative actions, by indicating on the Website that you are interested in third party services. To prevent the disclosure of your personal information to these third party service providers, do not opt-in for the service.
					h3 Corrections to Personal Information
					p If you have created an online account with us and would like to update the information you have provided to us, please access your account to view and update your information..
					h3 Do-Not-Track Requests
					p “Do-Not-Track” is a web browser setting that sends a signal instructing the website not to track a user. Hapi Homes currently does not have a mechanism to respond to “Do-Not-Track” requests..
					h3 Revisions
					p This Privacy Policy may be revised from time to time. We will post any such changes to this page and may otherwise post other alerts on the Website or communicate such changes through email. If you disagree with any such changes, please cease using the Website. Continued use following the posting of any such changes indicates your acceptance of the changes. If we make any changes to this Privacy Policy that materially impact previously collected personal information about you, we will make reasonable efforts to provide notice and obtain consent to any such changes as may be required by law.
					h3 Minors
					p Minors under the age of 13 may not use the Website. We do not knowingly collect information from children under 13 years of age. Additionally, we recommend that users between the ages of 13 and 18 ask their parents for permission before sending any information about themselves to anyone over the Internet..
					h3 Terms of Use
					p This Privacy Policy is subject to the terms contained in Hapi Homes’s Terms of Use.
					h3 Contact
					p If you have any questions or concerns about this Policy or the way in which your personal information is handled, please contact us by email at #[a(href='#') hello@hapihomes.com].



