-
	typography_items = [
		{
			tag: 'h1',
			fz: '82/48',
			fw: '700',
		},
		{
			tag: 'h2',
			fz: '48',
			fw: '700',
		},
		{
			tag: 'h3',
			fz: '28',
			fw: '700',
		},
		{
			tag: 'h4',
			content: 'title',
			fz: '20',
			fw: '700',
		},
		{
			type: 'text',
			content: 'Caption',
			fz: '18',
			fw: '400',
		},
		{
			type: 'text',
			content: 'Text',
			fz: '22',
			fw: '400',
		},
	];

//- headings
+typography_item({
	type: 'heading',
	content: [
		'Text style',
		'Size',
		'Weight',
	]
})
//- demo content
ul.ui_typography
	each item, index in typography_items
		+typography_item(item)